{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between mb-4">

<h2>🔔 Security Alerts</h2>

<a href="{{ url_for('dashboard') }}" class="btn btn-outline-light btn-sm">Back</a>

</div>

{% for alert in alerts %}

<div class="card-custom mb-3">

<strong>{{ alert.email }}</strong>

<p>{{ alert.message }}</p>

<small class="text-muted">
{{ alert.created_at }}
</small>
<form method="POST" class="mt-2">
    <input type="hidden" name="notification_id" value="{{ alert.id }}">
    <button class="btn btn-sm btn-outline-success">
        Mark as Read
    </button>
</form>
</div>

{% endfor %}

{% endblock %}