{% extends "base.html" %}

{% block content %}

<div class="card-custom">
    <h4>Password Strength Analysis</h4>

    <form method="POST">
        <input type="password"
               name="password"
               class="form-control"
               placeholder="Enter password "
               required>

        <button class="btn btn-danger mt-3">Analyze</button>
    </form>

</div>

{% if result %}
<div class="card bg-secondary mt-4 p-4">

    <h4>Strength Level: {{ result.strength_level }}</h4>
    <p>Score: {{ result.strength_score }}/4</p>

    {% if result.feedback %}
    <h6>Recommendations:</h6>
    <ul>
        {% for f in result.feedback %}
        <li>{{ f }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</div>
{% endif %}

{% endblock %}